.headline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.detail__info {
  width: 60%;
  text-align: left;
}

.detail__poster {
  width: 35%;

  img {
    max-width: 100%;
    height: auto;
  }
}

.detail__actions {
  display: flex;
  
}
